@model IEnumerable<GameCatalog.Models.Game>
@{
    ViewData["Title"] = "Vapour";
}

<div class="row">
    <div class="col-md-3 ">
        <form method="get" asp-action="Index">
            <div class="form-group filtr">
                <div class="filtr-text p-1">Genre</div>
                <select name="genre" class="inputAdd form-control border-0 m-2 w-95" asp-items="ViewBag.Genres">
                    <option value="">All</option>
                </select>
            </div>
            <div class="form-group filtr">
                <div class="filtr-text p-1">Platform</div>
                <select name="platform" class="inputAdd form-control border-0 m-2 w-95" asp-items="ViewBag.Platforms">
                    <option value="">All</option>
                </select>
            </div>
            <div class="form-group">
                <label>Price Min</label>
                <input type="number" step="0.01" name="minPrice" class="form-control" value="@ViewBag.MinPrice" />
            </div>
            <div class="form-group">
                <label>Price Max</label>
                <input type="number" step="0.01" name="maxPrice" class="form-control" value="@ViewBag.MaxPrice" />
            </div>
            <div class="mt-3">
                <button type="submit" class="btn buttonOk btn-m m-2 ">Filter</button>
                <a asp-action="Index" class="btn buttonNo btn-m m-2">Reset</a>
            </div>
        </form>
    </div>

    <div class="col-md-9">
        <table class="table tableIndex">
            <div class="d-flex align-items-center gap-2 flex-wrap bg-dark">
                <div class="m-2">
                    <input placeholder="enter search term" class="inputAdd  border-0" />
                    <button type="submit" class="btn buttonOk btn-m m-2 ">Search</button>
                </div>
                <div>
                    Sort by: 
                    <select name="platform" class="inputAdd border-0" asp-items="ViewBag.Platforms">
                        <option value="">All</option>
                    </select>
                </div>
                <br />
            </div>
            <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Genre)</td>
                        <td>@Html.DisplayFor(modelItem => item.Platform)</td>
                        <td>@Html.DisplayFor(modelItem => item.Opinion)</td>
                        <td>@Html.DisplayFor(modelItem => item.Release_Date)</td>
                        <td>
                            @if (item.Price == 0) {
                                <span>Free</span>
                            } else {
                                <span>$</span>@Html.DisplayFor(modelItem => item.Price)
                            }
                        </td>
                        <td>
                            <a class="text-muted" asp-action="EditGame" asp-route-id="@item.Id">Edit game</a>
                            <a class="text-muted" asp-action="DeleteGame" asp-route-id="@item.Id">Delete game</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <p id="moreGames">
            <a href="https://p.turbosquid.com/ts-thumb/9B/qh1DP5/7j/trollfacewhite3dmodel001/jpg/1640628187/600x600/fit_q87/3e47aef92f51715ae24b22a9548800e03ae096d1/trollfacewhite3dmodel001.jpg">
                More games coming soon! &trade;
            </a>
        </p>
    </div>
</div>
