@model IEnumerable<GameCatalog.Models.Game>

@{
    ViewData["Title"] = "Vapour";
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Platform)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opinion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Release_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Platform)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opinion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Release_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="EditGame" asp-route-id="@item.Id">Edit game</a>
                <a asp-action="DeleteGame" asp-route-id="@item.Id">Delete game</a>
            </td>
        </tr>
}
    </tbody>
</table>
